/*акцент #2196F3*/
/*основной цвет текста #757575*/
/*цвет заголовков #212121 */
/*белый #FFFFFF */
/*переменный цвет фона #F5F4FA*/
/*альтернативный цвет фона #2F303A*/
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  --color-accent: #2196f3;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --text-white: #ffffff;
  --text-black: #000000;
  --footer-mail-tel: rgba(255, 255, 255, 0.6);
  --bcg-main: #ffffff;
  --bcg-secondary: #f5f4fa;
  --bcg-dark: #2f303a;
  --bcg-btn-hover: #188ce8;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
}
address {
  font-style: normal;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  background-color: var(--bcg-main);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.header {
  padding-top: 32px;
  padding-bottom: 32px;
  border: 1px solid #ececec;
}
/* Site nav */
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-black);
  margin-right: 93px;
}
.logoaccent {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-accent);
}
.site-nav {
  display: flex;
  gap: 50px;
  width: 281px;
  height: 16px;
}
.site-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--color-accent);
}
.site-nav .link.current {
  color: var(--color-accent);
}
/* Site auth */
.auth-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  gap: 50px;
}
.auth-nav-link {
  display: flex;
  align-items: center;
  gap: 10px;
  fill: currentColor;
}
.auth-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--color-accent);
}

/* Hero */
.hero {
  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--bcg-dark);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--text-white);
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  height: 120px;
  margin: 0 auto 30px;
}
.hero-button {
  display: block;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--color-accent);
  color: var(--text-white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  min-width: 216px;
  height: 50px;
  margin: 0 auto;
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--bcg-btn-hover);
  color: var(--text-white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15)
}
/* Section */
.section {
  background-color: var(--bcg-main);
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-title {
  color: var(--secondary-text-color);
}
/* Features */
.feature-list {
  display: flex;
  gap: 30px;
}
.icon-block {
  display: flex;
  height: 120px;
  background: var(--bcg-secondary);
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.feature-list > li {
  width: 270px;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.feature-list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 10px;
}
.feature-list-txt {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* Works */
.works {
  padding-top: 0;
}
.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.work-list {
  display: flex;
  gap: 30px;
}

/* Team */
.team-section {
  background-color: var(--bcg-secondary);
}
.team-section h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.team-list {
  display: flex;
  gap: 30px;
}
.team-list > li {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-sign {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-list h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.team-list p {
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}
.soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.soc-item {
  width: 44px;
  height: 44px;
}
.soc-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  fill: #afb1b8;
}
.soc-link:hover,
.soc-link:focus {
  background-color: var(--color-accent);
  fill: var(--text-white);
}
/* Clients */
.clients-section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.client-list {
  display: flex;
  gap: 30px;
}
.client-item {
  width: calc((100%-150px) / 6);
  height: 92px;
}
.client-link {
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
}
.client-link:hover,
.client-link:focus {
  border-color: var(--color-accent);
  fill: var(--color-accent);
}
/* Portfolio filter */
.filter-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}
.filter-button {
  background-color: var(--bcg-secondary);
  color: var(--secondary-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
}
.filter-button:hover,
.filter-button:focus {
  background-color: var(--color-accent);
  color: var(--text-white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.filter-button.current {
  background-color: var(--color-accent);
  color: var(--text-white);
  padding: 6px 25px;
}
/* Portfolio gallery */
.gallery-container {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc((100%-60px) / 3);
  row-gap: 30px;
  column-gap: 30px;
}
.gallery-card {
  background-color: var(--bcg-main);
}
.gallery-card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.gallery-card-sign {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.gallery-card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}
.gallery-card-txt {
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
/* Footer */
.footer {
  max-width: 1600px;
  height: 252px;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--bcg-dark);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-white);
}
.footer .link:hover,
.footer .link:focus {
  color: var(--color-accent);
}
.footer .logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-white);
  display: block;
  margin-right: 0;
  margin-bottom: 20px;
}
.footer-list {
  display: inline-block;
  width: 231px;
  height: 81px;
}
.footer-list .footer-list-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-list .mail {
  color: var(--footer-mail-tel);
  display: inline-block;
}
.footer-list .tel {
  color: var(--footer-mail-tel);
}
.footer-slogan {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-white);
  margin-bottom: 20px;
}
.footer-container{
  display: flex;
  align-items: baseline;
  gap: 70px;
}
.footer-soc-list {
  display: flex;
  width: 206px;
  justify-content: center;
  gap: 10px;
}

.footer-soc-item {
  width: 44px;
  height: 44px;
}

.footer-soc-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  fill: #ffffff;
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--color-accent);
  fill: var(--text-white);
}